.linkCard {
  border: 1px solid #e6e6e6;
  padding: 2rem;
  max-width: 20rem;
  background: #FFF;
  box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.linkCard__title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  text-transform: capitalize;
}

.linkCard__link {
  user-select: all;
  color: #ccc;
  width: 100%;
  display: block;
  overflow: hidden;
}

.linkCard__actionButtons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
}

.icon {
    cursor: pointer;
}
