.linkCard {
  border: 1px solid #e6e6e6;
  padding: 1rem;
  max-width: 20rem;
  background: #FFF;
  box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.2);
}

.linkCard__title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.linkCard__actionButtons {
    display: flex;
    justify-content: flex-end;
}

.deleteButton {
    cursor: pointer;
}
